{{#if message}}
  <div class="error">
    {{message}}
  </div>
{{/if}}
<form action="/api/user/register" method="post">
  <fieldset>
    <legend>Registration Form</legend>
    <div>
      <label for="username">Username</label>
      <input name="username" id="username" type="text" />
    </div>
    <div>
      <label for="email">Email</label>
      <input name="email" id="email" type="email" />
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    </div>
    <input type="submit" value="Register" />
  </fieldset>
</form>
<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>